@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Quicksand&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    color: #BFA084;
    background-color: #734636;
    font-weight: 300;
    overflow-x: hidden;
    text-shadow: .1px 1px #000;
}

/* Header and Nav */

.brand {
    background-color: #BFB8AE;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    z-index: 1;
}

.logo {
    font-family: "Dancing Script", sans-serif;
}

.brand a {
    color: #59342C;
    font-size: 4rem;
    text-decoration: none;
    font-weight: 500;
}

.navbar {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar li a {
    font-size: 1.5rem;
    padding: .5rem 1rem;
}

.navbar li a:hover {
    background-color: #59342C;
    color: #BFB8AE;
    border-radius: 2rem;
}
 /* Nav Menu Toggle */
 .nav-btn {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    top: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
    z-index: 1;
    cursor: pointer;
 }

 .nav-btn-cross,
 .nav-btn-cross::before,
 .nav-btn-cross::after {
    width: 1.5rem;
    height: 0.1rem;
    background-color: #000;
    transition: all 0.5s ease-in-out;
 }

 .nav-btn-cross::before,
 .nav-btn-cross::after {
    content: "";
    position: absolute;
 }

 .nav-btn-cross::before {
    transform: translateY(-0.5rem);
 }

 .nav-btn-cross::after {
    transform: translateY(0.5rem);
 }

 /* Animation */

 .nav-btn.open .nav-btn-cross {
    transform: translateX(2rem);
    background-color: transparent;
 }

 .nav-btn.open .nav-btn-cross::before {
    transform: rotate(45deg) translate(-1.5rem, 1.5rem);
 }

 .nav-btn.open .nav-btn-cross::after {
    transform: rotate(-45deg) translate(-1.5rem, -1.5rem);
 }

/* Main */
.hero {
    height: 75vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.hero-img {
    height: 100%;
    width: 100%;
    background: url("../images/cafe-mach.jpg") no-repeat center center;
    background-size: cover;
}

.hero-text {
    width: 40%;
    height: 100%;
    background-color: rgba(89, 52, 44, 0.9);
    color:#BFB8AE;
    position: absolute;
    right: 0;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: justify;

    line-height: 2;
    letter-spacing: 2px;
}

h2 {
    font-size: 2rem;
    text-align: center;
    margin: 5% auto;
}

.main-content, .hygge-content {
    display: flex;
    overflow: hidden;
}

#coffee, #cake  {
    width: 50%;
    text-align: center;
    margin: 0 3%;
}

p {
    text-align: justify;
    font-size: 1.2em;
    margin: 3% auto;
    line-height: 20px;
    letter-spacing: 2px;
}

.card-image {
    width: 50%;
    height: 50%;
    border-radius: 50%;
}

.hygge-content {
    width: 100%;
    height: 50vh;
    background-color: #BFA084;
    color: #734636;
}

#hygge {
    margin: 0 auto;
    width: 60%;
}

/* Footer and Social*/

footer {
    height: 150px;
    line-height: 1.5;
    position: relative;
}

footer p {
    float: left;
    margin: 5% 0 0 5%;
}

footer ul li {
    display: inline-block;
    float: right;
    margin-right: 5%;
    margin-top: 4%;
}

footer ul li a {
    color:#BFB8AE;
    font-size: 2rem;
}

/* Media Queries */

@media (max-width:767px) {

    .brand li a {
        font-size: 1rem;
        color: #BFB8AE;
    }

    .nav-btn {
        display: flex;
    }

    .navbar {
        flex-direction: column;
        justify-content: space-around;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: 100vh;
        transform: translateX(100vw);
        background-color: #59342C;
        transition: transform 0.3s ease-in-out;
    }

    .navbar.open {
        transform: translateX(0);
    }

    .hero-text {
        width: 70%;
        height: 40%;
        position: absolute;
        text-align: center;
        top: 30%;
        left: 15%;
        padding: 2%;
    } 

    .main-content {
        display: block;
        align-items: center;
    }

}