@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Quicksand&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    color: #BFA084;
    background-color: #734636;
    font-weight: 300;
    text-shadow: 1px .5px #3a3a3a;
}

/* Header and Nav */

.brand {
    background-color: #BFB8AE;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    z-index: 1;
}

.logo {
    font-family: "Dancing Script", sans-serif;
}

.brand a {
    color: #59342C;
    font-size: 4rem;
    text-decoration: none;
    font-weight: 500;
    text-shadow: 1px .5px #3a3a3a;
}

.navbar {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar li a {
    font-size: 1.5rem;
    padding: .5rem 1rem;
}

.navbar li a:hover {
    background-color: #59342C;
    color: #BFB8AE;
    border-radius: 2rem;
}
 /* Nav Menu Toggle */
 .nav-btn {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    top: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
    z-index: 1;
    cursor: pointer;
 }

 .nav-btn-cross,
 .nav-btn-cross::before,
 .nav-btn-cross::after {
    width: 1.5rem;
    height: 0.1rem;
    background-color: #000;
    transition: all 0.5s ease-in-out;
 }

 .nav-btn-cross::before,
 .nav-btn-cross::after {
    content: "";
    position: absolute;
 }

 .nav-btn-cross::before {
    transform: translateY(-0.5rem);
 }

 .nav-btn-cross::after {
    transform: translateY(0.5rem);
 }

 /* Animation */

 .nav-btn.open .nav-btn-cross {
    transform: translateX(2rem);
    background-color: transparent;
 }

 .nav-btn.open .nav-btn-cross::before {
    transform: rotate(45deg) translate(-1.5rem, 1.5rem);
 }

 .nav-btn.open .nav-btn-cross::after {
    transform: rotate(-45deg) translate(-1.5rem, -1.5rem);
 }

/* Main */
.hero {
    height: 75vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.hero-img {
    height: 100%;
    width: 100%;
    background: url("../images/cafe-mach.jpg") no-repeat center center;
    background-size: cover;
}

.hero-text {
    width: 40%;
    height: 100%;
    background-color: rgba(89, 52, 44, 0.9);
    color:#BFB8AE;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: justify;
    letter-spacing: 3px;
}

.hero-text > h3 {
    margin: 0 5%;
    font-weight: 300;
}

h2 {
    font-size: 2rem;
    text-align: center;
    margin: 5% auto;
}

.main-content, .main-content-contact, .hygge-content {
    display: flex;
}

.card  {
    width: 50%;
    text-align: center;
    margin: 0 3% 3% 3%;
}

.card > p {
    margin-top: 5%;
}

p {
    text-align: justify;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 3px;
}

.card-image {
    width: 50%;
    height: 50%;
    border-radius: 50%;
}

.hygge-content {
    width: 100%;
    height: auto;
    background-color: #BFA084;
    color: #59342C;
    padding-bottom: 3%;
    text-shadow: 0.3px 0.3px #734636;
}

#hygge {
    margin: 0 auto;
    width: 60%;
}

/* Footer and Social*/

footer {
    height: 150px;
    line-height: 1.5;
    position: relative;
 }

.social, .copyright {
    text-align: center;
    margin-top: 3%;
}

.social > li {
    display: inline;
    margin: 2%;
}

.social li a {
    color:#BFB8AE;
    font-size: 2rem;
}

.social li a:hover {
    color:#59342C;
    background-color:#BFB8AE;
    border-radius: 12%;
}

.copyright {
    font-size: 1.2rem;
}

/* About Us */

.hero-secondary {
    height: 60vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.hero-img-secondary {
    height: 60vh;
    width: 100%;
    background: url("../images/dual-cafe.jpg") no-repeat center center;
    background-size: cover;
}

.hero-text-secondary {
    width: 40%;
    height: 60vh;
    background-color: rgba(89, 52, 44, 0.9);
    color:#BFB8AE;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: justify;
    letter-spacing: 3px;
}

.card-image-about {
    width: 25%;
    border-radius: 50%;
}

.bio {
    margin: 22% 5% 0 0;
    font-weight: 600;
}

#hygge button {
    margin: 3% auto;
    border: 1px solid #3a3a3a;
}

#hygge button:hover {
    border: 2px solid #dadada;
}

/* CSS */
.button-44 {
  background: #734636;
  border-radius: 11px;
  box-sizing: border-box;
  border: solid 1px #BFB8AE;
  color: #fafafa;
  cursor: pointer;
  display: flex;
  font-family: Mija,-apple-system,BlinkMacSystemFont,Roboto,"Roboto Slab","Droid Serif","Segoe UI",system-ui,Arial,sans-serif;
  font-size: 1.15em;
  font-weight: 700;
  justify-content: center;
  line-height: 33.4929px;
  margin: 2% 15%;
  text-align: center;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  text-shadow: rgba(0, 0, 0, .3) 1px 1px 1px;
  text-underline-offset: 1px;
  transition: all .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 30%;
  word-break: break-word;
}

.button-44:active,
.button-44:focus {
  border-bottom-style: none;
  border-color: #dadada;
  box-shadow: rgba(0, 0, 0, .3) 0 3px 3px inset;
  outline: 0;
}

.button-44:hover {
  border: 2px solid #dadada;
}

button > a {
    text-decoration: none;
    color: #fafafa;
}

/* Contact Us */

.main-content-contact {    
    display: flex;
    width: 100%;
    margin: 0 auto;
    border-bottom: 15px solid #BFA084;
}

.form {
    text-align: left;
    margin-top: 2%;
}

.form-p {
    width: 70%;
}


.input {
    display: block;
    border: 2px solid #BFB8AE;
    width: 60%;
}

.card iframe {
    width: 80%;
    height: 400px;
    border: 2px solid #BFB8AE;
}


/* Media Queries */

@media (max-width:767px) {

    * {
        overflow-x: none;
    }

    .brand li a {
        font-size: 1rem;
        color: #BFB8AE;
    }

    .nav-btn {
        display: flex;
    }

    .navbar {
        flex-direction: column;
        justify-content: space-around;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: 100vh;
        transform: translateX(100vw);
        background-color: #59342C;
        transition: transform 0.3s ease-in-out;
    }

    .navbar.open {
        transform: translateX(0);
    }

    .hero-text, .hero-text-secondary {
        font-size: 1em;
        text-align: center;
        width: 70%;
        height: 40%;
        position: absolute;
        text-align: center;
        top: 30%;
        left: 15%;
        padding: 2%;
    } 

    p, .hero-text > p {
        font-size: 1.1em;
        text-align: center;
    }

    .main-content {
        display: block;
        width: 90%;
        margin: 0 auto;
    }

    .card {
        width: 100%;
    }

    #hygge {
        width: 90%;
    }


    .social li {
        font-size: 1rem;
    }

    .copyright {
        font-size: .9rem
    }

    /* About Us  */

    .bio {
        margin: 3%;
    }

    .main-content-contact {
        display: block;
    }

    .input {
        width: 80%;
    }

    .form {
        margin-left: 18%;
    }

    .form-p {
    margin: 0 auto;
    }

    .button-44 {
        margin: 3% 25%;
    }

}